@{
  Layout="Shared/_Layout.cshtml";
}

<h1>@Model["person"].GetName()</h1>

<h3><img src="http://icons.iconarchive.com/icons/icons8/windows-8/512/Mobile-Phone-icon.png" class="phone-image"><strong>Phone number:</strong> @Model["person"].GetPhoneNumber()</h3>
<h3><img src="https://cdn3.iconfinder.com/data/icons/social-messaging-productivity-4/128/home2-512.png" class="house-image"><strong>Address:</strong> @Model["address"].GetType()</h3>
<ul>
  <li>Street: @Model["address"].GetStreet()</li>
  <li>City: @Model["address"].GetCity()</li>
  <li>State: @Model["address"].GetState()</li>
  <li>Zip Code: @Model["address"].GetZipCode()</li>
</ul>

<form method="post" action='/contact/delete/@Model["person"].GetId()'>
  <button class="btn btn-danger">Delete contact</button>
</form>

<p><a href="/" class="link">View all contacts</a></p>
<p><a href="/contact/add" class="link">Add a new Contact</a></p>
